<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Employee Login</title>
</head>
<body>
<div class = "container">
    <h1 class = "text-primary h2 Bootstrap heading (2rem = 32px)">Welcome to Employee Portal</h1><br>
    <div class="jumbotron">
          <center>
              <h1 class="text-muted h6 heading text">Enter details below to Login</h1>
              <br><br>
              <form method="POST">
                <table>
                  {{ form  }}
                </table>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
              <br>
              <a href="{next={% url 'register' %}"><button class=" btn btn-primary bg-success">New User</button></a>
          </center>
    </div>
</div>
</body>
</html>